.index {
    background-image: url(../media/img/crumpledPaper.jpg);
    background-size: cover;
    background-position: 0px 0px;
}

.chest {
    background-image: url(../media/img/chest.jpg);
    background-position: 0% 0%;
    background-size: 100%;

    -webkit-transition:background-size 4s ease;
	-moz-transition:background-size 4s ease;
	-o-transition:background-size 4s ease;
	transition:background-size 4s ease;
/*  don't need this yet
    -webkit-transition:background-position 2s ease;
	-moz-transition:background-position 2s ease;
	-o-transition:background-position 2s ease;
	transition:background-position 2s ease; */
}

h2 {
    background: white;
    display: inline-block;
}

.poem-container {
    background: white;
    width: 50%;
    margin: 20px 0px;
    padding: 7px;
    display: none;
}

.show {
    display: block;
}

.connection {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    body.index {
        background-position: 0px 0px;
        background-size: 180%;
    }
}
